.center {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 20%;
    text-align: center;
}

.post-content {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50vw;
}

.form-element {
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 30vw;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.header-element {
    margin: 0 10px;
}

.heading {
    display: flex;
    align-self: center;
}